{% extends 'base.html' %}

{% block content %}
<div class=" col-md-6 offset-md-3">
    {% if user.is_authenticated %}
    <h1>Hello {{username}}</h1>
    <br>
    <table class="table table-striped table-hover table-bordered border-primary ">
  <thead class="table-dark">
    <tr>
        <th scope="col">Id</th>  
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    
    {% if customs %}
        {%for custom in customs%}
        <tr>
            <td>{{ custom.id }}</td>
            <td>{{ custom.name }}</td>
            <td>{{ custom.email }}</td>
            <td>{{ custom.phone_number }}</td>
            <td><a href="{% url 'custom_record' custom.id %}">click here</a></td>
        </tr>
        {%endfor%}
    {%endif%}
    
  </tbody>
</table>



    {% else %}
    <h1>Login</h1>
    <br>
    <form method="post" action="{% url 'home'%}">
    {% csrf_token %}
        <form>
            <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>

            <br>
            <div class="mb-3">          
            <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="{% url 'register' %}" class="btn btn-secondary ">Register</a>
      </form>
    </form>  
    {% endif %}



</div>
{% endblock %}