<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" >
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{%url 'add_record'%}">Add record</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'show_data'%}">Show data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'analysis'%}">Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'transactions'%}">Transactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'show_accounts'%}">Accounts</a>
          </li>
          <li class="nav-item right-align">
            <a class="nav-link" href="{%url 'logout'%}">Logout</a>
          </li>
            <a class="nav-link" href="/admin"><img id="admin-img" src="../static/images/lucy.png" style="height: 20px;"></a>
          {%else%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login'%}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register'%}">Register</a>
          </li>
        </ul>
        <a class="nav-link" href="/admin"><img src="../static/images/admin_photo.png" style="height: 20px;"></a>
          {% endif %}  
            
            
        

      </div>
    </div>
  </nav>